/* .button,
.shopify-challenge__button,
.customer button {
  opacity: 1 !important;
  margin-top: 2rem;
  min-height: 3rem;
  padding: 0 1.5rem !important;
}

.button:before,
.button:after {
  display: none;
}
.banner_video {
  position: relative;
  margin-top: -140px;
}
.banner-text {
  position: absolute;
  bottom: 1rem;
  padding: 3rem;
}
.banner-text h1 {
  color: #fff;
  margin: 0;
  font-style: italic;
}
.banner-text h2,
.custom-text h2,
.custom-text p {
  color: #fff;
  font-style: italic;
}
.banner-text .button {
  min-height: 3rem;
  background: #fff;
  color: #000;
}
.custom-text a {
  background-color: #fff;
  opacity: 1 !important;
  color: #000;
}
.custom-text a:before,
.custom-text a:after {
  display: none;
}
.banner_video video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.banner__text p {
  font-size: 25px;
  font-weight: 500;
}
.announcement-bar__message {
  font-style: italic;
}
.banner__box {
  padding: 0;
}
body .image-with-text__content > * + * {
  margin-top: 0;
}
body .image-with-text__content .image-with-text__text + .button {
  margin-top: 1rem;
  min-height: 3rem;
  padding: 0 1.5rem !important;
}
.header-wrapper.gradient {
  background: transparent;
  border: none;
}
.scrolled-past-header .header-wrapper.gradient,
.header-wrapper.gradient:hover {
  background: #fff;
}
.header-wrapper .list-menu__item,
.list-menu__item span,
.header__heading span.h2,
.header__icon,
.header__icon--cart .icon {
  color: #fff;
}
.header-wrapper.gradient:hover .header__heading span.h2,
.header-wrapper.gradient:hover .list-menu__item,
.header-wrapper.gradient:hover .list-menu__item span,
.header-wrapper.gradient:hover .header__icon,
.header-wrapper.gradient:hover .header__icon--cart .icon,
.scrolled-past-header .header__icon,
.scrolled-past-header .header__icon--cart .icon,
.scrolled-past-header .list-menu__item,
.scrolled-past-header .list-menu__item span,
.scrolled-past-header .header__heading span.h2 {
  color: #000;
}
@media (max-width: 989.5px) {
  .banner_video {
    margin-top: -57px;
  }
  .banner_video video {
    height: 95vh;
  }
}

/* product listing  

.contains-media.grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: normal;
  align-items: flex-start;
  justify-content: flex-start;
}
.product .contains-media.grid li {
  width: 50% !important;
  max-width: 50% !important;
}
*/
.header__icon {
  display: flex;
}
.header.header--middle-left {
  padding-top: 0;
  padding-bottom: 0;
}

.custom-mega-menu-wrap {
  display: flex;
  padding: 0 64px;
}
.collection-image-wrap {
  width: 300px;
}
.collection-image-wrap a {
  position: relative;
  padding: 0;
}
.collection-image-wrap .collection-image-info {
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.custom-mega-menu-wrap .mega-menu__list {
  display: block;
  flex: 1;
  column-count: 4;
}
.custom-mega-menu-wrap .mega-menu__list > li {
  display: inline-block;
  margin: 0 0 30px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
}

